div#blue{
background-image:url("Blue.png");
background-repeat:no-repeat;
}
div#green{
background-image:url("Green.png");
background-repeat:no-repeat;
}
div#red{
background-image:url("Red.png");
background-repeat:no-repeat;
}
div#images{
float:left;
}
div#text{
float:right;
}
